body {
    margin: 0;
    padding: 0;
    border: 0;
}
.main-pane {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 700px;
    height: 1024px;
    background-color: #D8D8D8;
}

.left-pane {
    width: 350px;
    height: 100%;
    background-color: #4A90E2;
    position: absolute;
    left: 0;
    top: 0;
}

.right-pane {
    width: 350px;
    height: 100%;
    background-color: #50E3C2;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: width 0.5s ease-out;
       -moz-transition: width 0.5s ease-out;
        -ms-transition: width 0.5s ease-out;
            transition: width 0.5s ease-out;
}

.middle-pane {
    height: 100%;
    width: auto;
    margin-left:350px; 
    overflow-y:auto;
}

.dot {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 100px auto;
    cursor: pointer;
}

.white {
    background-image: url("JS_Test_Assets/WhiteCircle.png");
    background-repeat: no-repeat;
}

.red {
    background-image: url("JS_Test_Assets/RedCircle.png");
    background-repeat: no-repeat;
    -webkit-transition: transform 0.5s ease-out;
       -moz-transition: transform 0.5s ease-out;
        -ms-transition: transform 0.5s ease-out;
            transition: transform 0.5s ease-out;
}

.red-scale {
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
}

.elem {
    position: relative;
    width: 260px;
    height: 160px;
    margin: 20px;
}

.left {
    background-image: url("JS_Test_Assets/Element1.png");
    background-repeat: no-repeat;
}

.right {
    background-image: url("JS_Test_Assets/Element2.png");
    background-repeat: no-repeat;
}

.right-middle {
    float: right;
    margin-right: 350px;
    -webkit-transition: margin-right 0.5s ease-out;
       -moz-transition: margin-right 0.5s ease-out;
        -ms-transition: margin-right 0.5s ease-out;
            transition: margin-right 0.5s ease-out;
}

.image {
    background-image: url("JS_Test_Assets/element2b.png");
    cursor: pointer;
}

.small {
    background-image: url("JS_Test_Assets/Element2a.png");
    background-repeat: no-repeat;
    height: 80px;
}

.big-image {
    background-image: url("JS_Test_Assets/element2b.png");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    cursor: pointer;
    position: fixed;
    top:-100%;
    max-width: 1280px;
    max-height: 1024px;
    width: 100%;
    height: 100%;
    -webkit-transition: top 0.5s ease-in;
       -moz-transition: top 0.5s ease-in;
        -ms-transition: top 0.5s ease-in;
            transition: top 0.5s ease-in;
}

@media screen and (max-width: 1024px) { 
    .right-middle {
        /*margin-left: 350px;*/
        float: none;
    }
}


@media screen and (max-width: 700px) {
    .right-middle {
        
        margin-left: 0;
    }
}
