body {
    margin: 0;
    padding: 0;
    border: 0;
}
.main-pane {
    position: relative;
    margin: 0 auto;
    max-width: 1280px;
    min-height: 1024px;
    background-color: #D8D8D8;
}

.main-pane .left-pane {
    width: 350px;
    min-height: 1024px;
    background-color: #4A90E2;
    position: fixed;
    left: 0;
    top: 0;
}

.main-pane .right-pane {
    width: 350px;
    min-height: 1024px;
    background-color: #50E3C2;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: right 0.5s ease-out;
       -moz-transition: right 0.5s ease-out;
        -ms-transition: right 0.5s ease-out;
            transition: right 0.5s ease-out;
}

.main-pane .middle-pane {
    position: relative;
    min-height: 1024px;
    max-width: 580px;
    margin: 0 350px;
    padding: 20px;
}

.dot {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 100px auto;
}

.white {
    background-image: url("JS_Test_Assets/WhiteCircle.png");
    background-repeat: no-repeat;
}

.red {
    background-image: url("JS_Test_Assets/RedCircle.png");
    background-repeat: no-repeat;
}

.elem {
    position: relative;
    width: 260px;
    height: 160px;
    margin: 20px 0;
}

.left {
    background-image: url("JS_Test_Assets/Element1.png");
    background-repeat: no-repeat;
}

.right {
    background-image: url("JS_Test_Assets/Element2.png");
    background-repeat: no-repeat;
    margin-left: 50%;
}

.image {
    background-image: url("JS_Test_Assets/Element2b.png");
    background-repeat: no-repeat;
}

.small {
    background-image: url("JS_Test_Assets/Element2a.png");
    background-repeat: no-repeat;
    height: 80px;
}